<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>table de produits</th>
                    </tr>
                </thead>
                <tbody * ngFor="let produit of produits">
                    <tr>
                        <th>id</th>
                        <th>nom</th>
                        <th>prix</th>
                        <th>date creation</th>
                    </tr>
                    <tr>
                        <td>{{ produit.idProduit }}</td>
                        <td>{{ produit.nomProduit }}</td>
                        <td>{{ produit.prixProduit}}</td>
                        <td>{{ produit.dateCreation }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>